<div class="container">

    <div class="jumbotron">
        <h1>Order Your Burger </h1>
        <p>Burger Orders for Pickup.</p>
        <br>
        <h2>Select a Burger or Sandwich</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Fresh Burger</label>
                    {{!-- <input type="text" id="newburger" name="burger"> --}}
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Sandwich</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="DoubleBfChz">Double Up (double meat and cheese)</option>
                        <option value="VeggieBurger">Veggie Burger</option>
                        <option value="PulledPork">Pulled Pork Sandwich</option>
                        <option value="ChichenClub">Chicken Club Sandwich</option>
                        <option value="SteaknChz">Steak and Cheese Sandwich</option>
                    </select>

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong>
                    <p>Send order to cashier when ready for pick up</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default"></div><div> 
    <div class="col-md-12">
        <h1>BurgerBars</h1>
        <img src="../public/assets/img/burger.jpeg">
     </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 column">
        <ul>
            {{#each burgers}}
            <li>
                {{#unless devoured}}
                {{this.id}}. {{this.name}}
                <button class="devour btn btn-warning btn-sm" data-id="{{this.id}}">
                        Eat your burger
                </button>
                {{/unless}}
                </li>
                {{/each}}
        </ul>
        </div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 column">

        <form class="create-form">
            <div class="form-group">
                <input type="text" id="burger-name" name="name">
            </div>
            <button type="submit" id="add-burger" class="btn btn-warning btn-lg btn-block">Submit</button>
        </form>
        <h3>Burgers you have ate</h3>
    </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 column">
            <ul>
                {{#each burgers}}
                <li>
                    {{#if devoured}}
                    {{this.id}}. {{this.name}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>

        </div>

</div>


<script>
  $(document).ready(function() {
    $("#add-burger").on("click", function(event) {
        event.preventDefault();
        var burger = {
            burger_name: $("#burger-name").val().trim()
        };
        $.ajax("/api/burger", {
        type: "POST",
        data: burger
        }).then(function() {
          location.reload();
        }
        );
    });
    $(".devour").on("click", function(event) {
      var id = $(this).data("id");

      var devouredBurger = {
        id: id
      };
      $.ajax("/api/burger/" + id, {
        type: "PUT",
        data: devouredBurger
      }).then(function() {
          console.log("burger devoured");
          location.reload();
        }
      );
    });
  });
</script>
